*{
	margin: 0;
	padding: 0;
}
body{

	background: white transparent;
	font-family: 'Open Sans', sans-serif;
}

header{
	width: auto;
	height: 200px;
	background: rgb(93, 173, 226 );
}
nav{
	display: block;
	width: 18vw;
	top: 0px;
	left: -100%;
	position: absolute;
	padding-left: 0px;
	line-height: 3em;
	height: 100%;
	background: rgba(53,89,137,.5);
	transition: .2s;
	z-index: 2;
}
nav ul >li >div{
	margin-top: 6em;
}
nav a{
	list-style: none;
	text-decoration: none;
	padding-left: 3px;
	color: white;
	text-transform: uppercase;
	
}
nav.active{
	left:0px;
}

nav ul{
	box-shadow: 4px 0 rgba(0, 102, 255,.4) inset;

}
nav ul li{
	border-bottom: 1px solid white;
	display: block;
	left: 0px;
}
nav ul li ul{

	display: none;
	background: rgba(53,89,137,.8);
	transition: 50s;
}
nav ul li:hover > ul{

	display: block;
}


span{
	padding-left: 4px;
	padding-right: 5px;
}
h2{

	margin: 8vh 0;
}

.boton-menu{

	top: 30px;
	left: 30px;
	list-style: none;
	text-decoration: none;
	display: block;
	position: absolute;
	font-size: 30px;
	padding: 8px;
	border: 1px solid white;
	border-radius: 50%;
	background: rgb(102, 153, 255);
	color: white;
	z-index: 3;
}
.asesoria-tributaria{
	width: 60%;
	margin: auto;
	background: grey;
}
.asesoria-tributaria-descripcion{
	width: 40%;
	line-height: 1.5em;
	display: block;
}
.espacio{
	height: 50vh;
}
.image{

	width: 100%;
}
#button {


    background-color: rgb(128, 159, 255);
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: white;
    
}

@media screen and (max-width: 650px) {
	nav{
		width: 100%;
		height: 100%;
		text-align: center;
		z-index: 2;
		background: rgba(14,14,15,.5);
	}
	.boton-menu{
		z-index: 3;
	}
	
}